.card {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}
.card-component {
  width: "100%";
  border-radius: 4;
  border: "1px solid #DDD";
  padding: 1;
}
.ant-card-body {
  padding: 1rem;
}
.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7rem;
}
.card-btns-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
.btns {
  display: flex;
  width: 25%;
  justify-content: flex-end;
  height: 100%;
}
.price {
  font-size: 1.4rem;
  margin: 0;
  justify-self: flex-start;
}
.ant-card-cover {
  width: 19rem;
  height: 21rem;
}

.icon {
  font-size: 1.5rem;
}

.image-card-cover {
  width: 99%;
  height: 99%;
}
.buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.button-change {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
  margin-right: 1rem;
}
.anticon-shopping-cart {
  font-size: 1.9rem;
}
.change {
  font-size: 1.4rem;
}
/* ----------- CARD MEDIA QUERY ---------- */

@media only screen and (max-width: 1024px) {
  .ant-card-cover {
    max-width: 100%;
    height: 17rem;
  }
  .icon {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .card {
    width: 45%;
  }
  .icon {
    font-size: 1.2rem;
  }
  .price {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 425px) {
  .card {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .ant-card-cover {
    height: 14rem;
  }
}
